
body{
    background-color: rgb(163, 192, 248);
}
h1{
    text-align: center;
}
#filtro{
    text-align: center;
}
#historico{
    text-align: center;
}
.newcoffe{
    margin-left: 41%;
}
.coffe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.blococentral {
    background-color: rgb(132, 173, 248);
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 450px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px whitesmoke;
}
td{text-align: center;}
tr{text-align: center;}
